# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
*.obj
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.sbr
*.tlog
*.lastbuildstate
*.idb
Thumbs.db
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/
